<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Simple.css -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Django To-do Lists</title>
<style>
    nav {
        width: 100%;
        background-color: ghostwhite;
        padding: 10px;
        text-align: center;
        position: fixed;
        top: 0;
    }
    nav a {
        color: green;
        margin: 0 35px;
        font-weight: bold;
        text-decoration: none;
        font-size: 18px;
    }
    nav a:hover {
        text-decoration: underline;
    }
    main {
    padding-top: calc(50px + 10em); /* 네비게이션 바의 높이 + 추가 여백 */    }
</style>

</head>

<body>
    <nav>
        <a href="{% url 'single_pages:index_page' %}">홈</a>
        <a href="{% url 'single_pages:members_page' %}">멤버스</a>
        <a href="{% url 'single_pages:edu_page' %}">교육과정</a>
        <a href="{% url 'single_pages:map_page' %}">찾아오는 길</a>
        <a href="{% url 'blog' %}">블로그</a>
        <a href="{% url 'index' %}">todo</a>
    </nav>

    <div>
        <h2 onclick="location.href='{% url "index" %}'">Django To-do Lists</h2>
    </div>
    <div>
        {% block content %}
        This content will be replaced by different html code for each page.
        {% endblock %}
    </div>
</body>
</html>
