{% extends "single_pages/layout.html" %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="container-fluid"
     style="background-color: rgba(248, 248, 255, 0.9);
            width: 90vw;
            min-height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;">

    <div class="row" style="position: sticky; top: 60px; z-index: 1000; background-color: rgba(248, 248, 255, 0.9);">
        <div class="col-md-12">
            <h1 class="text-center my-4">Blog</h1>
        </div>
    </div>

    <div class="row" style="margin-top: 150px;"></div>

    {% if grouped_posts %}
        {% for row in grouped_posts %}
            <div class="row mb-4"> <!-- 한 줄(row)에 최대 3개의 게시물 출력 -->
                {% for post in row %}
                    {% if post %}
                    <div class="col-md-4">
                        <h3 class="font-weight-bold" style="font-size: 1.25rem;">{{ post.title }}</h3>
                        <p>{{ post.content }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">아직 작성하지 않았습니다.</p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}