{% extends "layout.html" %}

{% block title %}멤버스{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-card">
        <div class="profile-image">
            <img src="{{ url_for('static', filename='images/taegon.jpg') }}" alt="Taegon Kim">
        </div>
        <div class="profile-info">
            <ul>
                <li><strong>영문이름:</strong> Taegon Kim</li>
                <li><strong>전공:</strong> 지역시스템공학</li>
                <li><strong>직급:</strong> 조교수(학과장)</li>
                <li><strong>전화번호:</strong> 063-270-2557</li>
                <li><strong>이메일:</strong> taegon@jbnu.ac.kr</li>
                <li><strong>연구분야:</strong> 디지털농업, 원격탐사</li>
                <li><strong>연구실:</strong> 스마트디지털농업연구실</li>
            </ul>
        </div>
    </div>
    <div class="profile-card">
        <div class="profile-image">
            <img src="{{ url_for('static', filename='images/Joonwoo.jpg') }}" alt="Joon-Woo Lee">
        </div>
        <div class="profile-info">
            <ul>
                <li><strong>영문이름:</strong> Joon-Woo Lee</li>
                <li><strong>전공:</strong> 원예학</li>
                <li><strong>직급:</strong> 조교수 (전임)</li>
                <li><strong>전화번호:</strong> 063-270-2558</li>
                <li><strong>이메일:</strong> jw.lee@jbnu.ac.kr</li>
                <li><strong>연구분야:</strong> 작물 생산 시스템</li>
                <li><strong>연구실:</strong> 식물환경조절공학연구실</li>
            </ul>
        </div>
    </div>
    <div class="profile-card">
        <div class="profile-image">
            <img src="{{ url_for('static', filename='images/Kyungdahm.jpg') }}" alt="Kyungdahm Yun">
        </div>
        <div class="profile-info">
            <ul>
                <li><strong>영문이름:</strong> Kyungdahm Yun</li>
                <li><strong>전공:</strong> 환경산림학</li>
                <li><strong>직급:</strong> 조교수 (전임)</li>
                <li><strong>전화번호:</strong> 063-270-4852</li>
                <li><strong>이메일:</strong> kdyun@jbnu.ac.kr</li>
                <li><strong>연구분야:</strong> 작물 모델링</li>
                <li><strong>연구실:</strong> 작물모형연구실</li>
            </ul>
        </div>
    </div>
    <div class="profile-card">
        <div class="profile-image">
            <img src="{{ url_for('static', filename='images/Siwon.jpg') }}" alt="Siwon Yoon">
        </div>
        <div class="profile-info">
            <ul>
                <li><strong>영문이름:</strong> Siwon Yoon</li>
                <li><strong>전공:</strong> 기계공학</li>
                <li><strong>직급:</strong> 조교수(전임)</li>
                <li><strong>전화번호:</strong> 063-270-2563</li>
                <li><strong>이메일:</strong> siwon903@jbnu.ac.kr</li>
                <li><strong>연구분야:</strong> 스마트팜 에너지 시스템</li>
                <li><strong>연구실:</strong> 스마트팜 에너지 솔루션 연구실</li>
            </ul>
        </div>
    </div>
    <div class="student-card">
        <div class="profile-image">
            <img src="{{ url_for('static', filename='images/hajong.jpg') }}" alt="Hajong Kim">
        </div>
        <div class="profile-info">
            <ul>
                <li><strong>영문이름:</strong> Hajong Kim</li>
                <li><strong>전공:</strong> 스마트팜학</li>
                <li><strong>직급:</strong> 학생</li>
                <li><strong>학번:</strong> 202121887</li>
                <li><strong>이메일:</strong> hajong0625@gmail.com</li>
                <li><strong>특징:</strong> 잘생김</li>
            </ul>
        </div>
    </div>
    <div class="student-card">
        <div class="profile-image">
            <img src="{{ url_for('static', filename='images/huijun.jpg') }}" alt="Huijun Yang">
        </div>
        <div class="profile-info">
            <ul>
                <li><strong>영문이름:</strong> Huijun Yang</li>
                <li><strong>전공:</strong> 스마트팜학, 기계시스템공학</li>
                <li><strong>직급:</strong> 학생</li>
                <li><strong>학번:</strong> 202217715</li>
                <li><strong>이메일:</strong> huijun1481@gmail.com</li>
                <li><strong>특징:</strong> 유머러스</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}