<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
<style>
    nav {
        width: 100%;
        background-color: ghostwhite;
        padding: 10px;
        text-align: center;
        position: fixed;
        top: 0;
    }
    nav a {
        color: green;
        margin: 0 35px;
        font-weight: bold;
        text-decoration: none;
        font-size: 18px;
    }
    nav a:hover {
        text-decoration: underline;
    }
    main {
        padding-top: 50px;  /* 네비게이션 바 높이만큼 여백 추가 */
    }
</style>

</head>
<body>
    <nav>
        <a href="{% url 'single_pages:index_page' %}">홈</a>
        <a href="{% url 'single_pages:members_page' %}">멤버스</a>
        <a href="{% url 'single_pages:edu_page' %}">교육과정</a>
        <a href="{% url 'single_pages:map_page' %}">찾아오는 길</a>
        <a href="{% url 'blog' %}">블로그</a>
        <a href="{% url 'index' %}">todo</a>
    </nav>

    <main role="main">
        {% block content %}
        <h1>Blog</h1>
        {% for p in post_list %}
            <hr/>
            <h2><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h2>
            <h4>{{ p.created_at }}</h4>
            <p>{{ p.content }}</p>
        {% endfor %}
        {% endblock %}
    </main>
</body>
</html>
